.about_me{
    //background-color: rgba(202, 194, 122, 0.459);
    grid-column: 1 / - 1;
    grid-row: 5/6;

    box-shadow: 0px 0px 10px 3px $color-khaki;
}

.feature_cards{
    display:grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
    grid-template-rows: max-content;
    row-gap: 7rem;
    column-gap: 10rem;
    //padding-left: 10rem;
    margin: 5rem;
}

.feature_card{
    display:grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 3rem;
    align-items: center;



    &__icon{
        fill:$color-khaki;
        width: 3.5rem;
        height: 3.5rem;
        //background-color: brown;
        grid-column: 1/2;
        //background-image: url(assets/svg/hour-glass.svg), rgb(#FFFFFF);
        //background-repeat: no-repeat;

    }

    &__text{
        font-size: 1.7rem;
        color: $color-tiktok-white;
        grid-column: 2/3;

    }
}

#yellow-icon{
    fill: $color-khaki;
}