.contact_me{

    grid-column: 1 / -1;
    grid-row: 6/7;
    box-shadow: 0px 0px 10px 3px $color-green;
}

.contact_me_cards{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    grid-row-gap: 4rem;
    grid-column-gap: 2rem;
    margin: 5rem;
    
}

.contact_me_card{
    //background-color: rgba(255, 228, 196, 0.404);
    
    &__container{
        display:grid;
        grid-template-rows: max-content max-content;
        justify-items: center;

        &:link,
        &:visited {
            text-decoration: none;
            color: white;
        }
        &:active{
            color: grey;
        }
    }

    &__icon{
        grid-row: 1/2;
        grid-column: 1/ - 1;
        //background-color: blue;
        margin: 0 auto;
    }

    &__text{
        grid-row: 2/3;
        grid-column: 1/ - 1;
        margin: 0 auto;
        //background-color: cadetblue;
    }
}


