.contact_me{

    grid-column: 1 / -1;
    grid-row: 6/7;
    box-shadow: 0px 0px 10px 3px $color-green;
}

.contact_me_cards{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    grid-gap: 2rem;
    margin: 5rem;
}

.contact_me_card{
    background-color: rgba(255, 228, 196, 0.404);
    display:grid;
    grid-template-rows: max-content max-content;

    &__icon{
        background-color: blue;
    }

    &__text{
        background-color: cadetblue;
    }
}


