.header{
    //background-color: palevioletred;
    grid-column: 1 / - 1;
    grid-row: 2/3;
    overflow:hidden;

    display: grid;

    grid-template-rows: repeat(3, minmax(10rem, min-content));


    &__title{
        grid-row: 2/3;
        grid-column: 1 / - 1;
        margin: 0 0;
        margin-top: 0rem;
        margin-bottom: 4rem;
        border-right: 0px solid $color-tiktok-white;
        margin-left: 3rem;
        overflow: hidden;
        animation: appearBlue 1s ease-out;

        &__content {
            margin: 3rem auto;
            color: $color-tiktok-blue;
            animation: moveInLeft 1s ease-out;
            
            text-shadow: 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 1px #00fff2;
            font-family: "Clip";
            text-transform: uppercase;
            letter-spacing: 2;
/*
            -webkit-animation: glow 2s ease-in-out infinite alternate;
              -moz-animation: glow 2s ease-in-out infinite alternate;
              animation: glow 2s ease-in-out infinite alternate;
*/
        }

    }

    &__text{
        content: "";
        grid-row: 3/ 4;
        grid-column: 1 / -1;
        margin: 1rem 0;
        border-left: 0px solid $color-tiktok-white;
        margin-left: 3rem;
        overflow: hidden;
        animation: appearWhite 1s ease-out;
        font-family: "Clip";

        &__content {
            margin: 0 auto;
            color: $color-tiktok-white;
            animation: moveInRight 0.5s ease-out;
        }


        /*
        &::before {
            content: "";
            background-color: #FFBA10;
            border-color: white;
            border-style: none;
            box-shadow: 1px 1px 3px 3px white;
            animation: moveInRight 1s ease-out;
            opacity: 1;
        }
        */

    }
    

    &__subtitle{
        content: "";
        grid-row: 1/2;
        grid-column: 1/-1;
        margin: 0 0;
        border-left: 0px solid $color-tiktok-red;
        margin-left: 3rem;
        overflow: hidden;
        animation: appearRed 1s ease-out;
        
        /*text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
    letter-spacing: 2;
    */
    
        font-family: "Clip";
        text-transform: uppercase;
        //color: #ffe6ff;
        animation: shine 2s forwards, flicker 3s infinite;
        letter-spacing: 2;

        &__content {
            margin: 2rem auto;
            color: $color-tiktok-red;
            animation: moveInRight 1s ease-out;
        }
    }

    
}

.fast-flicker{
    animation: shine 2s forwards, blink 10s 1s infinite;
}
.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}



/*
.hello {
    
    grid-row: 3/4;
    grid-column: 1/-1;
    content: "";
    background-color: transparent;
    //border-color: white;
    //border-style: none;
    //border-right : 1px none white;
    box-shadow: -10px 0px 3px 3px white;
    animation: moveInLeft 1s ease-out;
    opacity: 1;



}
*/

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(100rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-50rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes appearRed {
    99% {
        border-left: 3px solid $color-tiktok-red;
    }
    100% {
        border-left: none;
        
    }
}

@keyframes appearBlue {
    99% {
        border-right: 3px solid $color-tiktok-blue;
    }
    100% {
        border-left: none;
        
    }
}
@keyframes appearWhite {
    99% {
        border-left: 3px solid $color-tiktok-white;
    }
    100% {
        border-left: none;
        
    }
}

// animations for letters

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
    color: #ff65bd;
    text-shadow: none;
    }
    82%,
    97% {
    color: #ff2483;
    text-shadow: none;
    }
}

@keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }


@keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  


  @-webkit-keyframes glow {
    from {
     color: #fff;
   text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
 }
 
 to {
    color: gray;
   text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
 }
}