.skills{
    //background-color: rgba(255, 166, 0, 0.548);
    grid-column: 1 / - 1;
    grid-row: 3/ 4;
    box-shadow: 0px 0px 10px 3px $color-blue-light;



}

.skill_cards{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    grid-gap: 2rem;
    margin: 5rem;

   
}

.back-end{
    //background-color: cornflowerblue;
    grid-column: 1/2;
}

.back-end_content{
    font-family: $font-secundary;
    //background-color: chartreuse;
    color: grey;

    display:grid;
    grid-template-rows: min-content;
    //grid-gap: 3rem;
    padding-left: 2rem;
    grid-gap: 1rem;
    justify-content: center;

}


.front-end{
    //background-color: cadetblue;
    grid-column: 2/3;
}

.front-end_content {
    font-family: $font-secundary;
    //background-color: brown;
    color:grey;

    display:grid;
    grid-template-rows: max-content;
    //grid-gap: 1rem;
    padding-left: 2rem;
    justify-content: start;
}