.heading1{
    color:cadetblue;
    line-height: 1;
    margin: 5rem auto;
}

.text {
    color:chocolate;

}

.heading2 {
    color:chartreuse;
    line-height: 1;
    margin: 6rem auto;
}

.title_centered{
    

    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    margin-top : 5rem;
    margin-bottom: 7rem;
}


.text_blue-light{
    color: $color-blue-light;
    text-shadow: $color-blue-light 1px 0px 6px;
}   

.text_red-tiktok{
    color: $color-tiktok-red;
    text-shadow: $color-tiktok-red 1px 0px 6px;
}

.text_khaki{
    color: $color-khaki;
    text-shadow: $color-khaki 1px 0px 6px;
}

.text_green{
    color: $color-green;
    text-shadow: $color-green 1px 0px 6px;
}
.subtitle_skill_centered{
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    margin-top : 3rem;
    margin-bottom: 3rem;

}

.html_tag{
    padding-left: 0%;
}
.body_tag{
    padding-left: 10%;
}
.ul_tag{
    padding-left: 20%;
}
.il_tag{
    padding-left: 30%;
}

.language-item{
    font-family: $font-primary;
    color: goldenrod;
}

.language-item:hover{
    border-bottom: 1px solid goldenrod;
}