.heading1{
    color:cadetblue;
    line-height: 2rem;
    margin: 5rem auto;
}

.text {
    color:chocolate;

}

.heading2 {
    color:chartreuse;
    line-height: 2rem;
    margin: 6rem auto;
}

.skill_centered{
    
    color: $color-blue-light;

    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    margin-top : 5rem;
    margin-bottom: 7rem;
}

.subtitle_skill_centered{
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    margin-top : 3rem;
    margin-bottom: 3rem;

}

.html_tag{
    padding-left: 0%;
}
.body_tag{
    padding-left: 10%;
}
.ul_tag{
    padding-left: 20%;
}
.il_tag{
    padding-left: 30%;
}

.language-item{
    color: goldenrod;
}